In [2]:
import pandas as pd

In [3]:
visa_data = pd.read_csv('C:/Users/awant/workspace/video-course/machine-learning/Data/visa-status.csv', index_col='Unnamed: 0')

FileNotFoundError: [Errno 2] File b'C:/Users/awant/workspace/video-course/machine-learning/Data/visa-status.csv' does not exist: b'C:/Users/awant/workspace/video-course/machine-learning/Data/visa-status.csv'

In [8]:
visa_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3002458 entries, 1 to 3002458
Data columns (total 10 columns):
CASE_STATUS           object
EMPLOYER_NAME         object
SOC_NAME              object
JOB_TITLE             object
FULL_TIME_POSITION    object
PREVAILING_WAGE       float64
YEAR                  float64
WORKSITE              object
lon                   float64
lat                   float64
dtypes: float64(4), object(6)
memory usage: 252.0+ MB

In [9]:
visa_data = visa_data.sample(5000)

In [10]:
visa_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 460292 to 920715
Data columns (total 10 columns):
CASE_STATUS           5000 non-null object
EMPLOYER_NAME         5000 non-null object
SOC_NAME              4976 non-null object
JOB_TITLE             5000 non-null object
FULL_TIME_POSITION    5000 non-null object
PREVAILING_WAGE       5000 non-null float64
YEAR                  5000 non-null float64
WORKSITE              5000 non-null object
lon                   4810 non-null float64
lat                   4810 non-null float64
dtypes: float64(4), object(6)
memory usage: 429.7+ KB

In [11]:
visa_data.head()

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
460292,CERTIFIED,"HCL AMERICA, INC.","COMPUTER OCCUPATIONS, ALL OTHER",TEST ANALYST - II,N,55682.0,2016.0,"REDMOND, WASHINGTON",-122.121512,47.673988
1529073,CERTIFIED,MITRA BIOTECH INC.,Biochemists and Biophysicists,SCIENTIST,Y,43950.0,2014.0,"ZION, ILLINOIS",-87.832851,42.446132
2252332,CERTIFIED,"HCL AMERICA, INC.",Computer Systems Analysts,SYSTEMS ANALYST,Y,61526.0,2012.0,"BEDMINSTER, NEW JERSEY",-74.680400,40.669264
907215,CERTIFIED,BOUNCE EXCHANGE INC.,"SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE",INTEGRATION SOFTWARE ENGINEER,Y,72384.0,2015.0,"NEW YORK, NEW YORK",-74.005941,40.712784
2847842,CERTIFIED,"ENGINEERING TECHNOLOGY ASSOCIATES, INC.","Engineers, All Other",PROJECT ENGINEER,Y,65166.4,2011.0,"SEATTLE, WASHINGTON",-122.332071,47.606209

In [12]:
feature_data = visa_data.drop(['CASE_STATUS'], axis=1)

In [13]:
target_data = visa_data.CASE_STATUS

In [14]:
cat_cols = list(feature_data.select_dtypes('object').columns)

In [15]:
cat_cols

['EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE', 'FULL_TIME_POSITION', 'WORKSITE']

In [17]:
num_cols = list(feature_data.select_dtypes('float64').columns)

In [18]:
num_cols

['PREVAILING_WAGE', 'YEAR', 'lon', 'lat']